html {
    color: rgb(58, 56, 56);
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    box-sizing: border-box;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    background-image: url("../images/bee_background2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 500%;    
}

.wrapper {
    display: flex;
}
ul {
    list-style: none;
}
a {
    text-decoration: underline;
    color: black;
}

p {
    margin-top: 10em;
}
/*--- Container ---*/

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
 .wrapper > * {
     padding: 20px;
 }

 /*--- Header ---*/
 
 .page-header nav {
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
     align-items: center;
 }

 .logo {
     font-weight: bold;
 }
 .page-header ul {
     display: flex;
     order: 1;
     width: 100%;
     margin-top: 15px;
 }

 .page-header ul li {
     display: flex;
     font-family: inherit;
     font-size: 1.2 rem;
     padding: 5px 18px;
     border: 1px solid;
     border-radius: 5px;
 }

 /*--- Main ---*/

 .story {
display: flex;
flex-direction: column;
justify-content: center;
flex-grow: 1;
min-height: 350px
 }

 .story div {
     max-width: 500px;
 }

 .story h2{
     margin-bottom: 20px;
 }

 /*--- Footer ---*/
 .footer {
     display: flex;
     flex-direction: column-reverse;
 }

 .footer a {
     display: flex;
     font-size: 1rem;
     margin-bottom: 3px;
 }

 /*--- Media screen ---*/

 @media screen and (min-width: 320px) {
     .page-header ul {
         width: auto;
         margin-top: 3;
     }
     .footer {
         flex-direction: row;
         justify-content: space-between;
         align-items: center;
     }
 }

 @media screen and (min-width: 768px) {
     body {
         font-size: 18px;
     }
     .page-main {
         padding-left: 90px;
     }
 }

